<html>
    <head>
        <h2>Kalkulator liczb kryterialnych</h2>
        <section>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5001">Home</a></li>
                    <li><a href="http://127.0.0.1:5001/case_1">Przejmowanie ciepła w przepływie wewnątrz kanałów</a></li>
                    <li><a href="http://127.0.0.1:5001/case_2">Przejmowanie ciepła przy opływach ciał</a></li>
                    <li><a href="http://127.0.0.1:5001/case_3"><b>Konwekcja swobodna w przestrzeni nieograniczonej</b></a></li>
                    <li><a href="http://127.0.0.1:5001/case_4">Konwekcja swobodna w przestrzeni ograniczonej</a></li>
            </nav>
        </section>
    </head>
    <body>
    <form class = "grid" action = "/case_3_result" method = "POST">
            <h4>Konwekcja swobodna w przestrzeni ograniczonej</h4>
            <label for = "temp1"> Temperatura płynu: </label>
            <input type = "text" name="temp1" id = "temp1">
            <br/>
            <label for = "temp3"> Temperatura sciany: </label>
            <input type = "text" name="temp3" id = "temp3">
            <br/>
            <label for = "material"> Wybierz płyn: </label>
            <select name="material" class="selectpicker form-control">
            {% for o in data %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
            </select>
            <br/>
            <label for = "velo"> Prędkosc płynu: </label>
            <input type = "text" name="velo" id = "velo">
            <br/>
            <label for = "wymiar"> Wymiar charakterystyczny: </label>
            <input type = "wymiar" name="wymiar" id = "wymiar">
            <br/>
            </select>
            <input type = "Submit" class = "file_submit">


            
            {% if liczba_Prandtla %}
            <h4>Wyznaczone liczby kryterialne:</h4>
            <h3  style="color: blue;">Liczba Prandtla: {{liczba_Prandtla}}</h3>
            <h3  style="color: blue;">Liczba Reynoldsa: {{liczba_Reynoldsa}}</h3>
            <h3  style="color: blue;">Liczba Grashofa: {{liczba_Grashofa}}</h3>
            <h3  style="color: blue;">Liczba Rayleigha: {{liczba_Rayleigha}}</h3>
            <h3  style="color: blue;">Liczba Nusselta: {{liczba_Nusselta}}</h3>
            {% endif %}
            
            {% if er %}
            <h3  style="color: blue;">{{er}}</h3>
            {% endif %}


        </form>

    </body>

</html>