<html>
    <head>
        <h3><a href="http://127.0.0.1:5001">Home</a></h3>
    </head>
    <body> 
    <form class = "grid" action = "/case_2_result" method = "POST"> 
            <h4>Przejmowanie ciepła przy opływach ciał</h4>
            <label for = "temp1"> Temperatura plynu: </label>
            <input type = "text" name="temp1" id = "temp1">
            <br/>
            <label for = "temp3"> Temperatura na sciany: </label>
            <input type = "text" name="temp3" id = "temp3">
            <br/>
            <label for = "material"> Wybierz płyn: </label> 
            <select name="material" class="selectpicker form-control">
            {% for o in data %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
            </select> 
            <br/>
            <label for = "velo"> Predkosc: </label>
            <input type = "text" name="velo" id = "velo">
            <br/>
            <label for = "wymiar"> Wymiar charakterystyczny: </label>
            <input type = "wymiar" name="wymiar" id = "wymiar">
            <br/>
            <label for = "rodzaj"> Rodzaj oplywu: </label> 
            <select name="rodzaj" class="selectpicker form-control">
            {% for o in data1 %}
            <option value="{{ o.name }}">{{ o.name }}</option>
            {% endfor %}
            </select> 
            <input type = "Submit" class = "file_submit">
            
            
            <h4>Wyznaczone liczby kryterialne:</h4>
            {% if l_reynoldsa %}
            <h3  style="color: blue;">Liczba Reynoldsa: {{l_reynoldsa}}</h3>
            <h3  style="color: blue;">Liczba Nusselta: {{l_nusselta}}</h3>
            {% endif %}
            
            {% if er %}
            <h3  style="color: blue;">{{er}}</h3>
            {% endif %}
            
        
        </form>   

    </body>

</html>