<html>
    <head>
        <h2>Kalkulator liczb kryterialnych</h2>
    </head>
    <body>    
        <section>
            <h4>Wybierz rozpatrywany przypadek:</h4>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5001"><b>Home</a></b></li>
                    <li><a href="http://127.0.0.1:5001/case_1">Przejmowanie ciepła w przepływie wewnątrz kanałów</a></li>
                    <li><a href="http://127.0.0.1:5001/case_2">Przejmowanie ciepła przy opływach ciał</a></li>
                    <li><a href="http://127.0.0.1:5001/case_3">Konwekcja swobodna w przestrzeni nieograniczonej</a></li>
                    <li><a href="http://127.0.0.1:5001/case_4">Konwekcja swobodna w przestrzeni ograniczonej</a></li>
            </nav>
        </section>
    </body>

</html>